SET CLIENT_ENCODING TO UTF8;
SET STANDARD_CONFORMING_STRINGS TO ON;
BEGIN;
CREATE TABLE "t2018_kar_pi" (gid serial,
"poi_id" float8,
"link_id" float8,
"type" varchar(250),
"poi_name" varchar(250),
"st_name" varchar(250),
"lat" numeric,
"lon" numeric);
ALTER TABLE "t2018_kar_pi" ADD PRIMARY KEY (gid);
SELECT AddGeometryColumn('','t2018_kar_pi','geom','0','POINT',2);
INSERT INTO "t2018_kar_pi" ("poi_id","link_id","type","poi_name","st_name","lat","lon",geom) VALUES ('1193037888','1190611914','Other Accommodation','Thomashof','Stupfericher Weg','48.967450000000000','8.505400000000000','0101000000FBCBEEC9C3022140F241CF66D57B4840');
INSERT INTO "t2018_kar_pi" ("poi_id","link_id","type","poi_name","st_name","lat","lon",geom) VALUES ('1193037924','574418424','Other Accommodation','Schwanen','Augustenburgstra├če','49.004270000000000','8.497740000000000','010100000074D2FBC6D7FE20404D2D5BEB8B804840');
INSERT INTO "t2018_kar_pi" ("poi_id","link_id","type","poi_name","st_name","lat","lon",geom) VALUES ('1193037814','810263023','Other Accommodation','Sonne','Kleinsteinbacher Stra├če','48.954210000000000','8.508980000000000','0101000000DBA2CC069904214012C2A38D237A4840');
COMMIT;
ANALYZE "t2018_kar_pi";
