SET CLIENT_ENCODING TO UTF8;
SET STANDARD_CONFORMING_STRINGS TO ON;
BEGIN;
CREATE TABLE "t2019_kar_pi" (gid serial,
"poi_id" float8,
"link_id" float8,
"type" varchar(250),
"poi_name" varchar(250),
"st_name" varchar(250),
"lat" numeric,
"lon" numeric);
ALTER TABLE "t2019_kar_pi" ADD PRIMARY KEY (gid);
SELECT AddGeometryColumn('','t2019_kar_pi','geom','0','POINT',2);
INSERT INTO "t2019_kar_pi" ("poi_id","link_id","type","poi_name","st_name","lat","lon",geom) VALUES ('1126227270','53183801','Historical Monument','Waldenserkirche Palmbach','Talstra├če','48.946200000000000','8.482010000000000','01010000009FB0C403CAF62040D3BCE3141D794840');
INSERT INTO "t2019_kar_pi" ("poi_id","link_id","type","poi_name","st_name","lat","lon",geom) VALUES ('1211500119','992815278','Tourist Attraction','Turmberg',NULL,'48.996800000000000','8.485750000000000','010100000062105839B4F820408F537424977F4840');
INSERT INTO "t2019_kar_pi" ("poi_id","link_id","type","poi_name","st_name","lat","lon",geom) VALUES ('1132530246','53183036','Hotel','Pension Anita','Schenkendorfstra├če','48.970650000000000','8.405070000000000','0101000000732EC55565CF204063EE5A423E7C4840');
COMMIT;
ANALYZE "t2019_kar_pi";
